<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

        <property name="hibernate.c3p0.min_size">5</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        <mapping class="model.Entity.PhieuKhamBenh"/>
        <mapping class="model.Entity.HoaDon"/>
        <mapping class="model.Entity.GiaoDichThanhToan"/>
        <mapping class="model.Entity.PhongBenh"/>
        <mapping class="model.Entity.GiuongBenh"/>
        <mapping class="model.Entity.ThongBao"/>

    </session-factory>
</hibernate-configuration>